#result {
  text-align: right;
  border: solid 1px black;
  width: 100%;
}

.btn {
  margin: 2px;
}

.number {
  background-color: green;
}

.operator {
  background-color: red;
}

.submit, .reset {
  background-color: grey;
}
/*div {
  border: solid 1px black;
}*/
